<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Manage Users</h2>

<body>This is PET app</body><br>
<form method="post" action="/user">
  First name:<br>
<input type="text" name="firstname"><br>
 Last name:<br>
<input type="text" name="lastname"><br>
 Email:<br>
<input type="text" name="email"><br>
 Phone number:<br>
<input type="text" name="phonenumber"><br>
 Password:<br>
<input type="password" name="password" maxleng="20"><br>
    <br><button type="submit">Sign up</button><br>
    <p>
     
   </p>
</form>

</div>

</body>
</html>
